# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("../output_data/cities.csv")

#limit number of pulls so that I dont run out of funds on API
cities_df = cities_df.head(20)
cities_df

,Unnamed: 0,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,morgan city,29.70,-91.21,53.01,76,90,5.82,US,1607274746
1,1,angoche,-16.23,39.91,80.83,75,91,8.37,MZ,1607274747
2,2,sao jose da coroa grande,-8.90,-35.15,81.32,66,66,11.79,BR,1607274747
3,3,bengkulu,-3.80,102.27,76.32,87,100,4.36,ID,1607274748
4,4,punta arenas,-53.15,-70.92,64.40,55,75,25.28,CL,1607274748
5,5,saskylakh,71.92,114.08,-10.01,89,100,9.42,RU,1607274579
6,6,kozmodemyansk,56.34,46.57,10.40,72,0,8.95,RU,1607274748
7,7,la plata,-34.92,-57.95,73.00,42,0,1.99,AR,1607274619
8,8,visaginas,55.60,26.42,29.17,88,0,15.26,LT,1607274748
9,9,albany,42.60,-73.97,33.01,53,4,1.99,US,1607274748
10,10,bonavista,48.65,-53.11,39.99,100,100,2.24,CA,1607274748
11,11,puerto ayora,-0.74,-90.35,80.60,65,75,10.29,EC,1607274650
12,12,hambantota,6.12,81.12,78.75,83,90,7.87,LK,1607274749
13,13,mataura,-46.19,168.86,55.99,80,0,3.00,NZ,1607274749
14,14,jamestown,42.10,-79.24,30.00,74,90,9.17,US,1607274017
15,15,severo-kurilsk,50.68,156.12,27.12,89,84,17.49,RU,1607274452
16,16,mazagao,-0.12,-51.29,93.20,52,40,12.75,BR,1607274749
17,17,kazanskaya,45.41,40.44,27.09,88,11,22.75,RU,1607274749
18,18,mar del plata,-38.00,-57.56,75.20,33,0,9.17,AR,1607274750
19,19,saint-philippe,-21.36,55.77,78.80,74,75,2.24,RE,1607274750

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [10]:
gmaps.configure(api_key=g_key)

#create variables to store location and humidity for Heatmap
locations = cities_df[['Lat','Lng']].astype(float)

humidity = cities_df['Humidity'].astype(float)

In [11]:
# Create a Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                dissipating=False, max_intensity=100,
                                point_radius = 1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [22]:
#create drop statements for <80, >70 Temp, 0 cloudiness and wind speed <10

#find temp greater than 70 but less than 80
vacation_cities = cities_df[cities_df['Max temp']>70]
vacation_cities = vacation_cities[vacation_cities['Max temp']<80]
#find cities with no clouds
vacation_cities = vacation_cities[vacation_cities['Cloudiness']==0]
#find cities with less than 10mph wind
vacation_cities = vacation_cities[vacation_cities['Wind Speed']<10]


vacation_cities

,Unnamed: 0,City,Lat,Lng,Max temp,Humidity,Cloudiness,Wind Speed,Country,Date
7,7,la plata,-34.92,-57.95,73.0,42,0,1.99,AR,1607274619
18,18,mar del plata,-38.00,-57.56,75.2,33,0,9.17,AR,1607274750

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure